*{
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
    box-sizing: border-box;
}
body{
    background: #111;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 40px;
    padding-left: 10%;
    padding-right: 10%;
}
.logo{
    color: white;
    font-size: 40px;
}
span{
    color: #ea1538;
}
nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 20px;   
}
nav ul li a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 15px;
}
nav ul li a:hover{
    color: #ea1538;
    transition: 0.3s;
}
section{
    margin-top: -2%;
    margin-left: 30%;
}
.contact{
    background: #101010;
    height: 100%;
    width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    align-items: center;
    grid-gap: 6rem;
}
.contact-form h1{
    font-size: 50px;
    color: #fff;
    margin-bottom: 20px;
    text-align: center;
}
.contact-form form{
    align-items: cen;  
}
.contact-form form input, form textarea{
    width: 100%;
    padding: 17px;
    border: none;
    outline: none;
    background: #393737;
    color: #fff;
    font-size: 1.1rem;
    margin-bottom: 0.7rem;
    border-radius: 10px;
}
.contact-form textarea{
    resize: none;
    height: 200px;
}
.contact-form form .btn{
    background: #ea1538;
    font-size: 20px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 600;
    border: 2px solid transparent;
    border-radius: 10px;
    width: 150px;
    transition: ease .20s;
    cursor: pointer;
    margin-left: 40%;
}
.contact-form form .btn:hover{
    border: 2px solid #ea1538;
    background: transparent;
}